<%= render 'layouts/flip'%>   
<div class = "welcome">
        <div class = "text">
                <span>Passionate & Authentic Photography</span>
        </div>
</div>
<div class = "about-home">
        <div class = "about-amanda">
                <span>About Amanda</span>
        </div>
</div>
<div class = "reviews">
        <div class = "section-1">
                <div class ="box-1">
                        <div class ="quote-1">
                                <span>"You just have to live and life will give you pictures" </br> </br>- Henry Cardier Bresson</span>
                        </div>
                </div>
        </div>
        <div class = "section-2">
                <div class ="box-2">
                        <div class ="quote-2">
                                <span>"Amanda is one of the most genuinely sweet and loving people I have ever met. With the help of her wonderful assistant (her husband) she took my husband and I's wedding photos in October of 2014 and did such a wonderful job we have recommended her many times to others! She is so easy to work with and truly loves what she does and gives you the wonderful quality photos you're looking for on your special day. I HIGHLY recommended Amanda to take photos for any occasion. Beautiful photos, beautiful person and great overall experience!" </br> </br>-Heather S, Orlando FL</span>
                        </div>
                </div>

        </div>
        <div class = "section-3">
        </div>
</div>
<div class = "recent-blog"></div>
