@import "bootstrap";
@import "bootstrap-sprockets";
@import "animate";


/*smooth scrolling*/

/*mixins, variables, etc...*/

$gray-medium-light:#eaeaea;

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*universal*/

body > div > div.home-top-image > h1 {

    min-height: 100%;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    padding-top: 310px;
    color: white;
    font-size: 70px;
    font-family:'rosario';
}

.contact-bg > h1 {
    min-height: 100%;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    padding-top: 310px;
    color: white;
    font-size: 70px;
    font-family: 'rosario';
}

.row {
    padding-top:50px;
}

.row.final.fadeIn.animated {
    padding-bottom:50px;
}

.section-1 {
    height:400px;
    background-color:#fefefe;
}

.section-2 {
    height:400px;
    background-image:image-url('contact.jpg');
    background-attachment: fixed;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;

}
.section-3 {
    height:400px;
    background-color:#fefefe;
    background-image:image-url('homeBanner.png');
    background-attachment: fixed;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;

}

.box-1 {
    height:300px;
    width:250px;
    position:relative;
    float:right;
    right:200px;
    top: 245px;
    background-color:#f2f2f2;
    box-shadow: black; 
}
.box-2 {
    height:530px;
    width:500px;
    position:relative;
    float:left;
    left:200px;
    top: 245px;
    background-color:#f2f2f2;
    box-shadow: black; 
}

.quote-1 {
    margin: 20px auto;
    display: block;
    width: 200px;
    font-size: 20px;
    height: 300px;
    text-align:center;
    position: relative;
    top:40px;
    letter-spacing:1px;
}
.quote-2 {
    margin: 20px auto;
    display: block;
    width: 470px;
    font-size: 20px;
    height: 300px;
    text-align:center;
    position: relative;
    top:40px;
    letter-spacing:1px;
}
.animatable {
  
    /* initially hide animatable objects */
    visibility: hidden;
    
    /* initially pause animatable objects their animations */
    -webkit-animation-play-state: paused;   
    -moz-animation-play-state: paused;     
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;   
    animation-play-state: paused; 
  }

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-5px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
		-moz-transform: translateY(-5px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
		-o-transform: translateY(-5px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animated.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

.home-top-image {
    /* The image used */
    background-image: image-url("homeBanner.jpg");

    /* Set a specific height */
    min-height: 675px; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome {
    height:150px;
    padding-top:50px;
    font-family:"poppins";
    font-size:35px;
    text-align:center;
}

.text {
    width:700px;
    margin:0px auto;
    border-right:2px gray solid;
    border-left:2px gray solid;
}

.about-amanda {
    width:400px;
    margin:0px auto;
    background-color:rgba(255,255,255,0.6);
}

.about-home {
    height:400px;
    text-align:center;
    padding-top:200px;
    font-family:"poppins";
    font-size:35px;
    background-image: image-url('homeBanner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid.content {
    position: relative;
    top:180px ;
    -webkit-transition: all .3s ease;
        transition: all .3s ease;
}

.container-fluid.content.active-content {
    top:57px;
    -webkit-transition: all 1s ease;
        transition: all 1s ease;

}

.flip-image-bg {
    /* The image used */
    background-image: image-url("middle-bg.jpg");

    /* Set a specific height */
    min-height: 675px; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-bg {
    /* The image used */
    background-image: image-url("contact.jpg");

    /* Set a specific height */
    min-height: 675px; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    padding:0px;
}


.col.span-12.dark {
    display:inline-block;
    margin:0px 21px;
}

.parallax {
    /* The image used */
    background-image: url(/app/assets/images/homeBanner.png);

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */

a.logo.mobile-logo {
    position: relative;
    top:20px;
    font-size:20px;
    letter-spacing:10px;
    transition: 0s;
}

.navbar-fixed-top {
    //background:transparent; testing header changes.
    background:white;
    text-align:center;
    //height:57px;
    //height: 180px;
        // Animation
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
}

.navbar-center {
    //-webkit-transition: all 0.7s ease;
    //transition: all 0.7s ease;
    padding-top:20px;
    margin-left:368px;
}

.active {
    background-color:white;
    // Animation
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    height:57px;}

.menu-scroll-down {
    
}

.active-center {
    padding-top:22px;
    //-webkit-transition: all 0.7s ease;
    //transition: all 0.7s ease;
    position:relative;
    top:-28px;
    width:40%;
    padding-top:0px ;
    margin-left:0px;
}

a.logo.active-logo {
    color:black ;
    // Animation
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family:'rosario';
    font-size:17px ;
    position:relative;
    top:15px;
    letter-spacing: 10px;
}

.slogan {
    font-family: 'Poppins';
        padding-top:5px;
        display:none;
}

.active-slogan {
display:none;
}

.logo {
    //float:left;
    font-size: 1.7em ;
    color:black;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    font-family:'rosario';
    font-size:25px;
        // Animation
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    &:hover {
        text-decoration: none;
        color:black;
    }
}
a.links {
    color:black ;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    font-family:'rosario';
    font-size:15px;
    padding-top:20px;
    border:1px solid transparent ;
    &:hover {
        border:1px black solid ;
    }
}
.nav > li > a {
    color:black;
    font-family:'rosario';
    font-size:15px;
    padding-top:20px;
    border:1px solid transparent;
    &:hover {
        -webkit-transition: all 0.7s ease;
        transition: all 0.7s ease;
        background-color:transparent;
        text-decoration: none;
        border:1px black solid;
    }
}

.logo-center {
    text-align:center;
}

.container.header.active-header {
    padding-top:0px ;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

div#header-text {
    color: black;
    position: relative;
    display: inline-block;
    top: 60px;
    font-family:'rosario';
    font-size:20px;
}

.container.header {
    padding-top:15px;
}


/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto ;
}

/*carousel*/
.item {
    height:100% ;
}
.item.active {
    height:100% ;
}
.carousel-inner {
    height:500px ;
}

.flip {
    padding-top:50px;
    padding-bottom:50px;
}

i.fas.fa-chevron-right {
    padding-top:250px;
    padding-left:90px;
}

i.fas.fa-chevron-left {
    padding-top:250px;
    padding-right:90px;
}

/*grid*/
#overlay {
        position: fixed; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order*/
}

.portfolio {
    display:inline-block;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    &:hover {
        opacity: .5;
}
}

//mobile

.mobile:not(:last) {
    display:none;
}