<div class = "row">
    <div class = "col-md-6 col-md-offset-3">

        <%= form_tag '/path' do%>
        Email : </br><%= text_field_tag 'email',  ''%></br>
        subject: </br><%= text_field_tag 'subject', ''%></br>
        Body:<%= text_area_tag 'body', ''%>
        <%= submit_tag "submit",:value => "submit", class: "btn btn-primary" %>
        <%end%>
    </div>
</div>