<div class = "container">
    <div class = "row animatable fadeIn">
        <div class = "col span-12 dark">
            <div class = "portfolio" style="width: 344px;height: 344px">
                    <%= image_tag("1.png") %>
            </div>
        </div>
        <div class = "col span-12 dark">
            <div class = "portfolio" style="width: 344px;height: 344px">
                    <%= image_tag("2.png") %>
            </div>
        </div>
        <div class = "col span-12 dark">
                <div class = "portfolio" style="width: 344px;height: 344px">
                        <%= image_tag("3.png") %>
                </div>
            </div>
        </div>
    <div class = "row animatable fadeIn">
            <div class = "col span-12 dark">
                <div class = "portfolio" style="width: 344px;height: 344px">
                        <%= image_tag("4.png") %>
                </div>
            </div>
            <div class = "col span-12 dark">
                <div class = "portfolio" style="width: 344px;height: 344px">
                        <%= image_tag("5.png") %>
                </div>
            </div>
            <div class = "col span-12 dark">
                    <div class = "portfolio" style="width: 344px;height: 344px">
                            <%= image_tag("6.png") %>
                    </div>
                </div>    
        </div>
    <div class = "row final animatable fadeIn">
        <div class = "col span-12 dark">
            <div class = "portfolio" style="width: 344px;height: 344px">
                    <%= image_tag("7.png") %>
            </div>
        </div>
        <div class = "col span-12 dark">
            <div class = "portfolio" style="width: 344px;height: 344px">
                    <%= image_tag("8.png") %>
            </div>
        </div>
        <div class = "col span-12 dark">
                <div class = "portfolio" style="width: 344px;height: 344px">
                        <%= image_tag("9.png") %>
                </div>
            </div>
        </div> 
        </div> 
</div>