<header class = "navbar navbar-fixed-top">
    <div class = "container header">
        <%= link_to "Amanda Louise Photography", root_path, class: 'logo'%>
        <div class = "slogan">
            Passionate & Authentic Photography
        </div>
        <nav>
           <ul class = "nav navbar-nav navbar-center">
           <li><%= link_to "Home", root_path %></li>
           <li><%= link_to "Galleries", galleries_path %></li>
           <li><%= link_to "Investment", investment_path %></li>
           <li><%= link_to "Blog", blog_path %></li>
           <li><%= link_to "Contact", contact_path %></li>
           <li><a href="javascript:void(0);" style="font-size:15px;" class="ham-icon" onclick="myFunction()">&#9776;</a></li>
        </ul> 
        </nav>
    </div>
</header>