<!DOCTYPE html>
<html>
  <head>
    <title>Amanda Louise Photography</title>
    <link href="https://fonts.googleapis.com/css?family=Assistant|Rosario" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render 'layouts/header' %>
    <div class = 'container-fluid content'>
    <%= yield %>
    </div>
  </body>
</html>
